body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}
  
.home-5 {
    position: relative;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),
                                       rgba(0, 0, 0, 0.25)), url(../assets/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1050px) {
    .home-5 {
      height: auto;
      gap: 355px;
    }
}
  
@media only screen and (max-width: 550px) {
    .home-5 {
      gap: 237px;
    }
}
  
.Navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.Nav-links {
    display: flex;
    gap: 50px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.1px;
    margin: 10px 0;
}
  
.Nav-links li {
    list-style: none;
}
  
.Nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
  
.Nav-links a:hover {
    color: #ccc;
}
  
.headerlogo_one {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}
  
.Footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
}
  
.social-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.social-1 .icon {
    width: 30px;
    height: 30px;
}
  
.social-1 .spotify-logo {
    width: 13px;
    height: 13px;
    object-fit: contain;
}
  
  .social-1 .youtube-logo {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.social-1 a img:hover {
    transform: scale(1.1);
    color: #ccc;
}
  
.logo-text a {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9.15px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
  
.Content {
    font-family: 'Futura', sans-serif;
    flex: 1;
    padding: 40px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}
  
.Content h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 40px;
}
  
.Content p {
    margin: 0 70px;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.new-album {
    margin-top: 20px;
}
  
.album-cover-container {
    display: inline-block;
    width: 300px; 
    height: 300px; 
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}
  
.album-cover {
    width: 100%; 
     height: auto;
}
  
.new-album h2 {
    font-family: 'Futura', sans-serif;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff; 
}
  
.cta-container a {
    display: inline-block;
    font-family: 'Futura', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-decoration: underline;
    text-underline-offset: 6px; 
}
  
.cta-container a:hover {
    color: #ccc; 
}